In [2]:
import pandas as pd

In [4]:
data = {
    'ProductName' : ['Product A', 'Product B', 'Product C'],
    'Price' : [22250, 16600, 12500]
}

Creating a DataFrame from a dictionary for list

In [6]:
df = pd.DataFrame(data)
df

  ProductName  Price
0   Product A  22250
1   Product B  16600
2   Product C  12500

Creating a DataFrame from a dictionary for list (Specify Index)

In [11]:
ProdcutID = ['A', 'B', 'C']
df = pd.DataFrame(data, index=ProdcutID)
df

  ProductName  Price
A   Product A  22250
B   Product B  16600
C   Product C  12500

Construct a DatFrame with list of dictionaries

In [ ]:
data = [
    {'ProductName' : 'Product A', 'Price' : 22250},
    {'ProductName' : 'Product B', 'Price' : 16600},
    {'ProductName' : 'Product C', 'Price' : 12500}
]

In [14]:
df = pd.DataFrame(data)
df

  ProductName  Price
0   Product A  22250
1   Product B  16600
2   Product C  12500

Creating a dataframe from a padas series

In [16]:
series_products = pd.Series(['Product A', 'Product B', 'Product C'], index=['A', 'B', 'C'])
series_prices = pd.Series([22250, 16600, 12500], index=['A', 'B', 'C'])

In [18]:
data = ({'ProductName' : series_products, 'Price' : series_prices})
df = pd.DataFrame(data)
df

  ProductName  Price
A   Product A  22250
B   Product B  16600
C   Product C  12500

Creating a DataFrame from a list of list

In [19]:
data = [
    ['Product A', 22250],
    ['Product B', 16600],
    ['Product C', 12500]
]

In [21]:
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [23]:
data = [
    ['Product A', 22250],
    ['Product B', 16600],
    ['Product C', 12500, 600]
]
df = pd.DataFrame(data)
df

           0      1      2
0  Product A  22250    NaN
1  Product B  16600    NaN
2  Product C  12500  600.0

In [26]:
df = pd.DataFrame(data, columns=['ProductName', 'Price', 'Stock'], index=['A', 'B', 'C'])
df

  ProductName  Price  Stock
A   Product A  22250    NaN
B   Product B  16600    NaN
C   Product C  12500  600.0

creating a DataFrame in a Professional way!

In [28]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]],
                  columns=['ProductName', 'Price'],
                  index=['A', 'B', 'C'])
df

  ProductName  Price
A   Product A  22250
B   Product B  16600
C   Product C  12500

In [29]:
df.shape

(3, 2)